<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://cs.univie.ac.at/swa/soa/sdl" 
       class = "at.ac.univie.cs.swa.soa.sdl.SdlPackage"
       genModel = "at/ac/univie/cs/swa/soa/SDL.genmodel" /> 
	
  </extension>




</plugin>
